body {
    font-family: 'Arial', sans-serif;
    background-color: #e8e4e4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #53e77f;
}

.input-section, .summary-section, .table-section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #23ca63;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.table-section {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    word-break: break-word;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background-color: #43e389;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.edit-btn, .delete-btn {
    margin: 5px; /* Povećane margine */
    padding: 8px 12px; /* Povećan padding */
    background-color: #31e277; /* Boja za Edit dugme */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem; /* Povećan font */
}

.delete-btn {
    background-color: #dc3545; /* Boja za Delete dugme */
}

.edit-btn:hover {
    background-color: #28a745; /* Tamnija boja za Edit dugme pri hover */
}

.delete-btn:hover {
    background-color: #c82333; /* Tamnija boja za Delete dugme pri hover */
}

/* Responzivni dizajn za mobilne uređaje */
@media (max-width: 600px) {
    h1, h2 {
        font-size: 1.5rem;
    }

    .input-section, .summary-section, .table-section {
        padding: 10px;
    }

    input, button {
        font-size: 1rem;
    }

    table {
        font-size: 0.9rem;
    }

    td, th {
        padding: 5px;
    }

    th {
        font-size: 0.9rem;
    }

    td {
        font-size: 0.8rem;
    }

    .edit-btn, .delete-btn {
        font-size: 0.8rem;
        padding: 5px 8px; /* Manje unutarnje margine */
    }
}
